.modal-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 0px 15px 15px 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 10px;
}

.meal-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.meal-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap;
}

.confirmed {
  background-color: #73ce61;
}

.meal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.meal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 185px;
}

.ingredient-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.ingredient-item {
  width: 100%;
}

.ingredient-item input {
  width: 80px;
  padding: 5px;
  margin-right: 10px;
}

.ingredient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.ingredient-container input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.delete-ingredient-button {
  margin-top: 10px;
}