.training-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.training-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.training-item button {
  background-color: #1d99a1;
}

.training-item button:hover {
  background-color: #0d5358;
}