button.add-food {
  margin-bottom: 20px;
}

button.update,
button.delete {
  font-size: 0.9em;
  margin-left: 5px;
  width: 48%;
}

.stock-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.stock-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea */
}

.stock-item label {
  font-weight: bold;
  margin-right: 5px;
  flex: 1 1 100px; /* Para hacer que las etiquetas sean más flexibles en tamaño */
}

.stock-item-quantity {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.stock-item input {
  width: 20%;
  padding: 5px;
  font-size: 1em;
  text-align: right;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-right: 5px;
}

.stock-item span {
  margin-left: 5px;
}

.stock-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.buttons-new-food {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
}

.new-food input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
}