.new-meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}

.new-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #e7e7e7;
}

.ingredient-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #ccc;
}