body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1em;
  width: auto;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.container {
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}